.scrollup {
    position: fixed; /* Fix the position of the scroll-up button */
    right: 2.5rem; /* Distance from the right side of the viewport */
    bottom: -20%; /* Initially positioned off the bottom of the viewport */
    background-color: #145DA0; /* Background color of the scroll-up button */
    opacity: 0.8rem; /* Opacity of the scroll-up button */
    padding: 0.3rem 0.5rem; /* Padding around the content of the scroll-up button */
    border-radius: 0.4rem; /* Border radius to round the edges */
    z-index: var(--z-tootip); /* Z-index to control the stacking order */
    transition: .4s; /* Smooth transition effect for changes */
}

.scrollup-icon {
    font-size: 1.5rem; /* Font size of the scroll-up icon */
    color: var(--container-color); /* Color of the scroll-up icon */
}

.scrollup:hover {
    background-color: var(--title-color-dark); /* Background color when hovering over the scroll-up button */
}

/* Show Scroll */
.show-scroll {
    bottom: 3rem; /* Adjust the position of the scroll-up button when shown */
}

/*======================== BREAKPOINTS ========================*/

/* For large devices */
@media screen and (max-width: 992px) {
    .scrollup {
        right: 1.5rem; /* Adjust the position from the right side */
        padding: 0.25rem 0.4rem; /* Adjust the padding */
    }

    .scrollup-icon {
        font-size: 1.25rem; /* Adjust the font size of the scroll-up icon */
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .show-scroll {
        bottom: 4rem; /* Adjust the position of the scroll-up button */
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .scrollup {
        right: 1rem; /* Adjust the position from the right side */
    }
}
